{% extends 'base.html' %}

{% block content %}

<h2>Historia zapytań:</h2>
<table class="table">
    <thead>
      <tr>
        <th>Fraza</th>
        <th>Data</th>
        <th>Odpowiedź</th>
      </tr>
    </thead>
    <tbody>
        {% for request in actors %}
        {% if request.status == 'p' %}
      <tr class="active">
        <td>{{request.phrase}}</td>
        <td><a href="{% url 'apirequesthistory' user.userprofile.pk request.phrase %}">Link do aktorów dla wyszukiwanej frazy, który powoduje, że jest TemplateSyntaxError</a></td> 
        <td>{{request.datetime}}</td>
        <td>{{request.response}}</td>
        <td>{{request.status}}</td>
        <td>{{request.user.daily_api_counter}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

{% endblock %}