{% extends 'base.html' %}

{% block content %}
        <section style="background-color: #eee;">
                  <div class="card mb-4">
                    <div class="card-body text-center">
                      <img src="{{ userprofile.avatar.url}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                      <h5 class="my-3">{{user.username}}</h5>
                      <p class="text-muted mb-1">{{userprofile.first_name}}</p>
                      <p class="text-muted mb-4">{{userprofile.last_name}}</p>
                        <a class="btn btn-primary" href="{% url 'updateuserprofile' userprofile.pk %}">Edytuj profil</a>
                  </div>
                  </div>
          </section>

{% endblock %}